body{
    /* background-image: url("../images/XGmsyMM-pikachu-backgrounds.jpg") !important; */
    background-color:black !important;
    background-size:cover;
}
.jumbotron{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 5%;
    background-color: rgb(252, 248, 22) !important;
    color: black !important;
}

h1{

}

.imgurl{
    font-size: 20px;
    font-weight: bold;
    color:white;


}

.textBox{
    margin-top: 100px;
    background: #ffffff;
    border-radius: 10px;
    padding: 8px;


}

.container{
    text-align: center;
}

/* 
td{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 0px 0px 14px 0px #d8d8d8;
    text-align:left;
    padding-left: 4%;
}

tr{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom:15px;
} */

.imgurl{
    text-align: center;
    padding: 4%;
}


/* .textBox{
} */

.ui-autocomplete {
    background-color: #ffffff;
}